body{
  background-color: #d44266;
}

.pointer {
margin-left: 2%;
    height: 580px;
    border-radius: 2rem;
    padding-left:4%;
    padding-right: 4%;
    padding-bottom: 7%;
    background-color: rgb(73, 67, 67);
    color: azure;
    /* margin-left: 10%; */
    text-align: center;
    width: 20%;
    position: relative;
    margin-top: 10%;
    float: left;
  }
  h1{
    /* word-spacing: 1rem; */
    font-size: 45px;
  }
  
  .sub {
    margin-bottom: 40px;
    display: none;
    height: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    
  }
  #final{
    margin-left: 20%;
  }

  #city{
    line-height: 60px;
  }
.active{
    color: red;
    /* background-color: black; */
}

.active::after{
    content: "<";
    z-index: -5;
    color: red;
    height: 6px;
    width: 6px;
}

#button {
    /* margin-top: 10%; */
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
  
  }

.non-active{
    opacity: 50%;
}

.active-y{
    color: blue;
}

.active-y::after{
    content: "<";
    z-index: -5;
    color: blue;
    height: 6px;
    width: 6px;
}

.text{
    margin-left: 12%;
    padding-top: 4%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    line-height: 80px;
    margin-top: 10%;
    float: left;
    height: 650px;
    width: 650px;
    color: black;
}

.container{
    overflow: hidden;
}

.button{
    margin-top: 200px;
    margin-left: 100px;
    height: 30px;
    width: 100px;
    float: left;
}